body{
    display:flex;
    justify-content: center;
    align-items:center;
    
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
}

#zero{
    grid-column:span 2;
}